body {
    background: linear-gradient(150deg, #a50ca5, #9c209c, #c739c7, #ec00ec);
    background-size: 500% 500%;

    -webkit-animation: name1 10s ease infinite;
    -moz-animation: name2 10s ease infinite;
    -o-animation: name3 10s ease infinite;
    animation: name4 10s ease infinite;
}

@-webkit-keyframes name1 {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@-moz-keyframes name2 {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@-o-keyframes name3 {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
@keyframes name4 {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}
